.container-users {
    width: 20%;
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    border-right: 2px solid rgb(230, 230, 230);
}

.users {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;

}

.user-icon {
    font-size: 45px;
    color: gray;
}

.edit-group {
    background-color: rgb(220, 220, 220);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 1000px;
}

.edit-icon {
    font-size: 30px;
    color: gray;
}

@media (max-width: 768px) {
    .container-users {
        width: 90%;
        padding: 20px;
    }

    .edit-group {
        left: 200px;
        bottom: 0;
    }
}