.container-home {
    display: flex;
    gap: 20px;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.log-group {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 30px;
}

.log-left {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    margin-left: 30px;
}

.log-out {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    font-size: 16px;
}

.log-out:hover {
    background-color: #015e4b;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-home {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .log-group {
        display: none;
    }

    .tables {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
    }
}